layer6-step-functions/state-machine.json
{
  "Comment": "Clovertex Genomics Pipeline — Full Orchestration",
  "StartAt": "ValidateFASTQ",
  "States": {
    "ValidateFASTQ": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-south-2:ACCOUNT_ID:function:clovertex-fastq-validator",
      "ResultPath": "$.validationResult",
      "Next": "ConvertToCSV",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "PipelineFailed"
      }],
      "Retry": [{
        "ErrorEquals": ["States.TaskFailed"],
        "IntervalSeconds": 5,
        "MaxAttempts": 2,
        "BackoffRate": 2
      }]
    },
    "ConvertToCSV": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-south-2:ACCOUNT_ID:function:clovertex-fastq-to-csv",
      "InputPath": "$",
      "ResultPath": "$.conversionResult",
      "Next": "RunGlueETL",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "PipelineFailed"
      }]
    },
    "RunGlueETL": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "clovertex-genomics-etl"
      },
      "ResultPath": "$.etlResult",
      "Next": "UpdateCatalog",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "PipelineFailed"
      }]
    },
    "UpdateCatalog": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Parameters": {
        "Name": "clovertex-genomics-crawler"
      },
      "ResultPath": "$.crawlerResult",
      "Next": "PipelineSucceeded",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "PipelineFailed"
      }]
    },
    "PipelineSucceeded": {
      "Type": "Succeed"
    },
    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineError",
      "Cause": "One or more pipeline stages failed"
    }
  }
}
